.sectionWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

@media (max-width: 790px) {
  .sectionWrapper {
    display: flex;
    flex-direction: column;
  }
}
.contentWrapper {
  margin: auto;
  padding: 40px 16px;
  max-width: 27.5rem;
}

.image {
  object-fit: cover;
  height: 100%;
  filter: opacity(0.9);
}
