.sectionWrapper {
  padding-block-start: 200px;
  padding-block-end: 128px;
  max-width: 1000px;
  text-align: center;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 12px;
  align-self: center;
  align-items: center;
}

.imageWrapper {
  animation: fadeinImage 700ms 100ms both;
  flex: 3 1 0;
  min-width: 200px;
  margin-block-start: 40px;
}

@keyframes fadeinImage {
  from {
    opacity: 0;
    transform: scale(0.9) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

.image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: 16px solid white;
  transition: transform 500ms;
  margin: auto;
}

.image:hover {
  transform: scale(1.1) rotate(-2deg);
}

.textWrapper {
  flex: 5 1 0;
  min-width: 300px;
}

.textWrapper > h1 {
  font-size: clamp(2.5rem, 6vw, 4.375rem);
  padding-bottom: 16px;
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadein 500ms both;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.textWrapper > p {
  max-width: 90%;
  font-size: 1.125rem;
  margin: auto;
  animation: fadein 500ms;
}
