:root {
  --primary-gradient: linear-gradient(
    55deg,
    hsl(239deg 95% 49%) 0%,
    hsl(272deg 88% 50%) 50%,
    hsl(306deg 81% 51%) 100%
  );

  --tetris-gradient: linear-gradient(
    45deg,
    hsl(102deg 63% 56%) 0%,
    hsl(45deg 100% 37%) 52%,
    hsl(4deg 60% 49%) 100%
  );
  --yookos-gradient: linear-gradient(
    45deg,
    hsl(256deg 64% 64%) 0%,
    hsl(195deg 100% 47%) 52%,
    hsl(146deg 56% 63%) 100%
  );

  --jetlag-gradient: linear-gradient(45deg, hsl(144, 73%, 40%) 0%, hsl(219, 83%, 50%) 100%);

  --gray: #f6f6f6;
  --lighterBlack: #373737;
  --main: #4177ba;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--gray);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: unset;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
