.main {
  margin-block-start: calc(3.75rem);
  display: grid;
  column-gap: clamp(1rem, 4vw, 4rem);
  grid-template-columns: 1fr 15.625rem minmax(18.75rem, 42.5rem) 1fr;
  grid-template-rows: auto 500px auto 60px;
  grid-template-areas:
    ". title title . "
    "slide slide slide slide"
    ". tableOfContent content .";
}

@media (max-width: 800px) {
  .main {
    grid-template-areas:
      ". title . "
      "slide slide slide"
      ". content .";
    grid-template-columns: 1fr minmax(18.75rem, 42.5rem) 1fr;
  }

  .tableOfContent {
    display: none;
  }
}

.title {
  grid-area: title;
  display: grid;
  place-content: center;
  padding-block: 60px;

  & a {
    background: linear-gradient(33deg, var(--main) 0%, hsl(272deg 39.01% 31.51%) 100%);
    transition: background-position 300ms;
    background-size: 200%;
    background-position: 0%;
  }

  & a:hover {
    transition: background-position 200ms;
    background-position: -100%;
  }

  & h1 {
    font-size: clamp(2rem, 7vw, 3.75rem);
    text-align: center;
    text-transform: uppercase;
    word-wrap: balance;
    background: linear-gradient(
      55deg,
      hsl(239deg 10.64% 25.05%) 0%,
      var(--main) 50%,
      hsl(326.39deg 9.38% 19.62%) 100%
    );
    background-clip: text;
    color: transparent;
    padding-bottom: 30px;
  }
}

.slide {
  grid-area: slide;
  padding: 12px;
  background-color: #242424;
  overflow: hidden;
  margin-bottom: 60px;

  & img {
    height: 100%;
    width: auto;
  }
}

.tableOfContent {
  grid-area: tableOfContent;
  position: sticky;
  top: 120px;
  height: max-content;
  padding: 16px;

  & p {
    text-transform: uppercase;
    font-size: 14px;
    color: #b1b1b1;
    padding-block-end: 16px;
  }

  & ol {
    margin: 0px;
    list-style: none;
    padding: 0px;
    color: #1f1f1f;
    display: flex;
    flex-direction: column;
  }

  & li {
    padding-block: 8px;
  }

  & li:not(:last-child) {
    border-bottom: #dcdcdc 1px solid;
  }
}

.content {
  grid-area: content;
  text-wrap: pretty;

  & p {
    line-height: 1.8;
    font-size: 1.125rem;
    color: #2e2e2e;
    padding-block-end: 20px;
  }

  & video,
  & img {
    max-height: 400px;
    height: 100%;
    margin: 24px auto;
    border-radius: 8px;
    width: auto;
  }

  & h2 {
    padding-block-end: 32px;
    font-size: 2rem;
    font-weight: 600;
  }

  & h2:not(:first-child) {
    padding-block-start: 80px;
  }

  & h3 {
    padding-block: 16px 8px;
    color: var(--main);
  }

  & a {
    color: var(--main);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.span {
  color: var(--main);
  background: #e9ddf5;
  padding: 2px 6px;
  border-radius: 8px;
}
