.nav {
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
  color: var(--text-primary);
}

.items {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.current {
  font-weight: 700;
}

.underline {
  height: 3px;
  border-radius: 10px;
  background-color: var(--text-primary);
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: 30%;
}

.navigationItem {
  position: relative;
}

.navigationItem > a {
  letter-spacing: 0.08em;
}
