.nav {
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}

@media (max-width: 790px) {
  .header {
    grid-template-columns: 140px 1fr;
  }
  .nav {
    justify-self: flex-end;
  }
}

.items {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.current {
  color: #1f1f1f;
  font-weight: 700;
}

.underline {
  height: 3px;
  border-radius: 10px;
  background-color: #1f1f1f;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: 30%;
}

.navigationItem {
  position: relative;
}

.navigationItem > a {
  letter-spacing: 0.08em;
}
