.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 32px;
  gap: 32px;
  padding-block: 64px;
}

.project {
  max-width: 900px;
  background-color: var(--bg-card);
  border-radius: 16px;
  padding: 16px;
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  transition: box-shadow 500ms, transform 500ms;
  will-change: transform;
}

.project:hover {
  transition: box-shadow 200ms, transform 200ms;
  box-shadow: 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0px 1.4px 2.1px hsl(var(--shadow-color) / 0.07),
    0.1px 2.4px 3.6px hsl(var(--shadow-color) / 0.14),
    0.1px 3.8px 5.7px hsl(var(--shadow-color) / 0.22), 0.2px 6px 9px hsl(var(--shadow-color) / 0.29),
    0.2px 9.3px 14px hsl(var(--shadow-color) / 0.36);
  transform: scale(1.02);
}

.imageWrapper {
  min-width: 250px;
  flex: 2 0 calc(40% - 16px);
  width: 100%;
  border-radius: 16px;
  aspect-ratio: 1/1;
  clip-path: margin-box;
}

.imageWrapper > img {
  object-fit: cover;
  height: 100%;
}

.textWrapper {
  flex: 3 1 calc(60% - 64px);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.textWrapper > h3 {
  font-size: 3rem;
  background: var(--gradient);
  background-clip: text;
  color: transparent;
  align-self: flex-start;
  margin-bottom: 8px;
}

.icons {
  margin-block-start: auto;
  padding-block-start: 16px;
  font-size: 40px;
  display: flex;
  gap: 4px;
  color: var(--text-secondary);
}

.iconWrapper {
  position: relative;
}

.iconColor {
  position: absolute;
  top: 0;
  color: var(--hoverColor);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: clip-path 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.iconWrapper:hover .iconColor {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.readMore {
  font-weight: bold;
  font-size: 1.125rem;
  padding-top: 20px;
  color: var(--main);
}
